.fleft{
    float:left;
}
.fright{
    float: right;
}
ul{
    list-style: none;
}

.info-contact li{
   display: inline;
   color: #fff;
   margin-right: 2rem;
}
 .info-contact li .fa{
     color:#f26522;
     font-size: 20px;
     margin-right: 10px;
 }
.info-social li{
    display: inline;
    margin-left: 1rem;
}
.info-social a{
    text-decoration: none;
}
.info-social li i {
    
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    color: #fff;
    font-weight: 300;
}


/* main header */
.site-logo{
    display: inline-block;
    vertical-align: middle;
}
.header-style-4{
   background-color: rgb(173, 194, 233);
}
.header-style-4 .header-topbar{
    background-color: #00387a;
}


  

body{
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}


/*header*/
.header{	
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
	padding: 5px;
}
.header-main{
    
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0;
	
}
.header .logo{
	padding: 0 ;
    padding-left: 2.5rem;
}
.header .nav-menu{
	padding: 0 .5rem;
    margin-top: 12px;

}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 2rem;
	position: relative;
}
.header .menu > .menu-item > a{
    text-decoration: none;
	display: block;
	font-size: 16px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 700;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
  text-decoration: none;
	color: #f08250;
}
.header .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background-color: #8d8a8a;
	padding: 10px 0;
	border-top: 3px solid #e91e63;
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
    z-index: 2;
}
@media(min-width: 992px){
   
.header .menu > .menu-item-has-children:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
}
.header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #000000;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #000000;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #000000 ;
	
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}

/*home section*/
.home-section{
	width: 100%;
	display: block;
	min-height: 100vh;
	/*  background-image: url('../img/home.jpg'); */
	background-position: center top;
	background-size: cover;
}


/* responsive */

@media(max-width: 991px){
    .header-topbar{
        display: none;
    }
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #222222;
		opacity: .8;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.header .menu > .menu-item > .sub-menu{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		padding: 12px 45px;
		color: #ffffff;
		border-bottom: 1px solid #333333;
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}
}

/*  
 * {
    overflow: hidden;
}  */

.hero-text h2 {
  margin-bottom: 50px;
}

.hero-text .hero {
  position: relative;
}

.hero-text .hero .hero-slide a:hover span {
  color: #033a71;
}

.hero .hero-slide img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: top center;
}
 .overlay{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(13, 34, 53, 0.51);
 }

.hero .hero-slide .header-content {
  top: 20%;
  margin-left: 8rem;
  max-width: 550px;
  width: 100%;
  padding: 2rem;
}

.slide-content {
  padding: 10px 20px 10px 0;
}

.slide-content .h1 {
  font-size: 62px
}

.btn-primary {
  background-color: #5302FE;
  border: #111;
  border-radius: 0;
}

/** Text Animation **/

@-webkit-keyframes fadeInUpSD {
  0% {
      opacity: 0;
      -webkit-transform: translateY(100px);
      transform: translateY(100px)
  }

  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none
  }
}

@keyframes fadeInUpSD {
  0% {
      opacity: 0;
      -webkit-transform: translateY(100px);
      transform: translateY(100px)
  }

  100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none
  }
}

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD;
}

.slick-active .slide-content {
  animation-name: fadeInUpSD;
  animation-duration: 2s;
  opacity: 1;
  width: 100%;
  padding: 10px 20px 30px 0;
}

/* Text Animation End **/

.slick-dots {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  width: auto;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  outline: none;
} 

 .slick-dots li button::before {
  font-size: 18px;
  color: #fff;
  opacity: 1;
}

.slick-active button {
  background:#033a71;
}

/* Media Queries */

@media (max-width: 768px) {
  .hero-text .hero .hero-slide a {
    padding-top: 0.8rem;
  }

  .hero-text .hero .hero-slide a span {
    font-size: 20px;
    margin-top: 0.5rem;
  }

  .hero .hero-slide .header-content {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 auto;
  }
}

/* this is about css */

.about-two{
  padding: 8.75rem;
  padding-bottom: 8.77rem;
}
.about-two_content{
  padding: 2.31rem;
}
.block-title p{
  margin-top: 1.7rem;
}
.block-title_title{
  margin: 0;
  color:#2d2c2c;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}
.block-title_title span {
  display: inline;
  vertical-align: middle;
  position: relative;
}
.block-title_text {
  margin-top: 3rem;
}
.about-two_tab-block {
  padding: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.block-title_title span::before {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 10px;
  background-color:#20dfe3;
  opacity: 0.3;
}
.about-two_tab-title {
  width: 170px;
}


.about-two_tab-title .about-two-tab-title-item {
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}
.about-two_tab-title .about-two-tab-title-link {
  border: 0;
  border-radius: 0;
  font-weight: 500;
  font-size: 15px;
  font-family: var(--heading-font);
  color: var(--thm-black-color);
  padding-left: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  position: relative;
}
.about-two_tab-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 170px);
  flex: 0 0 calc(100% - 170px);
  border-left: 1px solid #e5e5e5;
  padding-left: 50px;
}


.video-one{
  margin-top: 7.81rem;
  margin-left: 30px;
  position: relative;
  display: inline-block;  
}

.video-one:before {
  content: '';
  display: flex;
  flex-wrap: wrap;
  width: 63%;
  height: 96%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(40%) translateY(-20%);
  transform: translateX(40%) translateY(-20%);
  background-image: url(../Sample-Template/img/about/dot-pattern.png);
  background-repeat: repeat;
  background-position: 0 0;
  opacity: 0.2;
}
@media (max-width: 575px){
.video-one {
  margin-top: 70px;
}
}
.video-one__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  height: 90px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 90px;
  right: -45px;
  background-color: #20dfe3;
  border-radius: 50%;
  -webkit-animation: inctechPulse 3s infinite;
  animation: inctechPulse 3s infinite;
}
.video-one__link i {
  color: #fff;
  font-size: 15px;
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.fa-play:before {
  content: "\f04b";
}

/* this is service section  */

.row {
  display: flex;
  padding-top: 16px;
}

.card-text {
  text-align: justify;
}

.card-title {
  font-weight: bold;
  text-align: center;
}
.link-box {
  text-decoration: none;
  color: #737373;
  border-color: #c1c1c1;
  font-weight: 700;
}

.pagelink {
  font-size: 12px;
  border-bottom: 2px solid #f8b29c;
  display: inline;
  line-height: 1.1;
  text-align: center;
}

.more-info {
  text-align: center;
}

.container-page {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
}

.container-main {
  position: absolute;
  padding-top: 4rem;
  padding-left: 3rem;
  color: rgba(247, 245, 245, 0);
  text-shadow: 3px 3px #eeeced;
}

.container-mains {
  padding-left: 25rem;
  text-align: center;
  padding-top: 5rem;
  position: absolute;
  color: rgba(247, 245, 245, 0);
  text-shadow: 3px 3px #eeeced;
}

.btn-sec {
  display:flex;
  justify-content: center;
  align-items: center;
  margin:50px auto;
  
}
.tap a{
  text-decoration: none;
}

.tap {
  font-size: 20px;
  border-radius: 10px;
  border-style: none;
  background-color: #20dfe3;
  color: #000000;
  position: absolute;
}
.tap:hover{
  color: #000000;
}

/* this is appoinment section */
.appoinment-one{
    position: relative;
    z-index: 100;
}
 .inner-container {
    background-color: #5538f4;
    background-image: url(../Sample-Template/img/appointment-bg-1-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 57px 0;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    z-index: 99;
    margin-top: -130px;
}
.appointment-one_title {
    margin: 0;
    color: #fff;
    font-family:sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1em;
}
.appointment-one_text {
    font-size: 15px;
    margin: 0;
    color: #fff;
    opacity: 0.7;
}

.appointment-one_form {
    margin-top: 35px;
}
.col-lg-4 input, .col-lg-4 select {
    border: none;
    outline: none;
    width: 100%;
    display: block;
    background-color: #645cff;
    height: 60px;
    padding-left: 20px;
    color: #fff;
    font-size: 15px;
}
.appoinment-one_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
}
.thm-btn a{
  text-decoration: none;
}
.thm-btn {
  border: none;
  outline: none;
  width: 100%;
  display: block;
  background-color: #20dfe3;
  height: 60px;
  padding-left: 20px;
  color: #fff;
  font-size: 15px;
}

 /* this is testonomial slide */


 .card {
	margin: 0 auto;
	border: none;
}

.card .carousel-item {
	min-height: 190px;
}
.card .carousel-caption {
	padding: 0;
	right: 15px;
	left: 15px;
	top: 15px;
	color: #3d3d3d;
	border: 1px solid #ccc;
	min-height:175px;
	padding: 15px;
}
.card .carousel-caption .col-sm-3 {
	display: flex;
	align-items: center;
}
.card .carousel-caption .col-sm-9 {
	text-align: left;
}
.card .carousel-control-prev, .card .carousel-control-next {
	color: #3d3d3d !important;
	opacity: 1 !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	background-image: none;
	color: #fff;
	font-size: 14px;
	background-color: #20dfe3;
	height: 32px;
	line-height: 32px;
	width: 32px;
}
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
	opacity: 0.85;
}
.carousel-control-prev {
	left: 40%;
	top: 110%;
}
.carousel-control-next {
	right: 40%;
	top: 110%;
}
.carousel-caption h2 {
	font-size: 14px;
}
 @media (min-width: 320px) and (max-width: 575px) {
.carousel-caption {
	position: relative;
}
.card .carousel-caption {
	left: 0;
	top: 0;
	margin-bottom: 15px;
}
.card .carousel-caption img {
	margin: 0 auto;
}
.carousel-control-prev {
	left: 35%;
	top: 105%;
}
.carousel-control-next {
	right: 35%;
	top: 105%;
}
.card .carousel-caption h3 {
	margin-top: 0;
	font-size: 16px;
	font-weight: 700;
}
}
@media (min-width: 576px) and (max-width: 767px) {
.carousel-caption {
	position: relative;
}
.card .carousel-caption {
	left: 0;
	top: 0;
	margin-bottom: 15px;
}
.card .carousel-caption img {
	margin: 0 auto;
}

.card .carousel-caption h3, .card .carousel-caption small {
	text-align: center;
}
.carousel-control-prev {
	left: 35%;
	top: 105%;
}
.carousel-control-next {
	right: 35%;
	top: 105%;
}
}
@media (min-width: 767px) and (max-width: 991px) {
.card .carousel-caption h3 {
	margin-top: 0;
	font-size: 16px;
	font-weight: 700;
}
}



/* this is footer css */


.footer-section {
  background: #00387a;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
    text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
    
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
    list-style: none;
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
    text-decoration: none;
    list-style: none;
    color: #878787;
    text-transform: capitalize;
}

.copyright-area{
  background: #013168;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
    text-decoration: none;
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

